In [1]:
import duckdb
import os
print("Fichier .db utilisé :", os.path.abspath('films_reco.db'))
# Connexion à la base de données
conn = duckdb.connect('films_reco.db')

# Lister les tables
tables = conn.execute("SHOW TABLES").fetchall()
print("Tables disponibles : ", tables)


# Si tu veux voir les données d'une table
table_name = "films"  # Remplace par ta table
# data = conn.execute(f"SELECT * FROM films").fetchall()
df = conn.execute("SELECT * FROM films").fetchdf()
print(conn.execute("SELECT count(*) FROM films").fetchall())

Fichier .db utilisé : c:\Users\lecle\code\informatique_avancee\projet\Projet\backend\app\utils\data\films_reco.db
Tables disponibles :  [('films',), ('ratings',)]
[(7594,)]

In [2]:

conn.close()

In [18]:
conn.execute("""
    DELETE FROM films
    WHERE release_date IS NULL;
""")

In [14]:
conn.execute("Drop table films")

In [ ]:
conn.execute("SELECT count(rating) FROM ratings where rating = 0.5").fetchall()

[(23814,)]

In [3]:
conn.execute("SELECT count(*) FROM films").fetchall()

[(7594,)]

In [3]:
df = conn.execute("""
    SELECT genres
    FROM films
    WHERE STRFTIME('%Y', release_date) = ?
""", [str(2016)]).fetchdf()

df

                                genres
0             Action,Adventure,Fantasy
1                 Crime,Thriller,Drama
2       Comedy,Drama,History,Adventure
3    Animation,Adventure,Family,Comedy
4                        Drama,History
..                                 ...
246   Action,Adventure,Science Fiction
247         Animation,Adventure,Family
248   Action,Animation,Science Fiction
249                     Crime,Thriller
250       Drama,Action,Science Fiction

[251 rows x 1 columns]

In [3]:
conn.execute("""
    SELECT * FROM films WHERE id= 1461519
""").fetchone()

In [11]:
count = conn.execute("SELECT COUNT(*) FROM ratings").fetchone()[0]
print("Nombre de lignes dans la table films :", count)

Nombre de lignes dans la table films : 1750845

In [10]:
count = conn.execute("SELECT COUNT(*) FROM films").fetchone()[0]
print("Nombre de lignes dans la table films :", count)

Nombre de lignes dans la table films : 8125

In [4]:
# Lire les 10 premières lignes de la table "ratings" dans un DataFrame
df = conn.execute("SELECT * FROM films LIMIT 10").fetchall()

for row in df:
    print(row)

(1197306, 'A Working Man', 'Action,Crime,Thriller', "Levon Cade left behind a decorated military career in the black ops to live a simple life working construction. But when his boss's daughter, who is like family to him, is taken by human traffickers, his search to bring her home uncovers a world of corruption far greater than he ever could have imagined.", datetime.date(2025, 3, 26), 6.392000198364258, 482, '/xUkUZ8eOnrOnnJAfusZUqKYZiDu.jpg')
(668489, 'Havoc', 'Action,Crime,Thriller', "When a drug heist swerves lethally out of control, a jaded cop fights his way through a corrupt city's criminal underworld to save a politician's son.", datetime.date(2025, 4, 24), 6.599999904632568, 285, '/r46leE6PSzLR3pnVzaxx5Q30yUF.jpg')
(950387, 'A Minecraft Movie', 'Family,Comedy,Adventure,Fantasy', "Four misfits find themselves struggling with ordinary problems when they are suddenly pulled through a mysterious portal into the Overworld: a bizarre, cubic wonderland that thrives on imagination. To get back home, they'll have to master this world while embarking on a magical quest with an unexpected, expert crafter, Steve.", datetime.date(2025, 3, 31), 6.199999809265137, 753, '/iPPTGh2OXuIv6d7cwuoPkw8govp.jpg')
(1471014, 'Van Gogh by Vincent', 'Documentary', 'In a career that lasted only ten years, Vincent Van Gogh painted one subject more than any other: himself. This is the story of Vincent told using eight of his most iconic self-portraits.', datetime.date(2025, 3, 26), 4.800000190734863, 2, '/z73X4WKZghBh5fri31o8P6vBEB2.jpg')
(1276073, 'Bullet Train Explosion', 'Action,Thriller,Crime,Drama', 'When panic erupts on a Tokyo-bound bullet train that will explode if it slows below 100 kph, authorities race against time to save everyone on board.', datetime.date(2025, 4, 23), 6.690999984741211, 94, '/qkTKtOHK9JEEOHgPQZ0dFtzs5ML.jpg')
(1092899, 'The Siege', 'Action,Thriller', 'International assassin Walker is compromised during a mission and sent to a reassignment center for a new identity. During his stay at the facility, a ruthless assault team storms the compound searching for someone their boss has lost. Walker begrudgingly falls in with skilled hitwoman Elda and her mysterious ward Juliet in order to survive the night.', datetime.date(2023, 3, 10), 5.383999824523926, 43, '/hVh4hMzkXNLnScudbid6hDvjMPk.jpg')
(324544, 'In the Lost Lands', 'Fantasy,Adventure,Action', 'A queen sends the powerful and feared sorceress Gray Alys to the ghostly wilderness of the Lost Lands in search of a magical power, where she and her guide, the drifter Boyce, must outwit and outfight both man and demon.', datetime.date(2025, 2, 27), 6.300000190734863, 294, '/twy1IVJFgaZWA21Sr6kohEOmdFW.jpg')
(822119, 'Captain America: Brave New World', 'Action,Thriller,Science Fiction', 'After meeting with newly elected U.S. President Thaddeus Ross, Sam finds himself in the middle of an international incident. He must discover the reason behind a nefarious global plot before the true mastermind has the entire world seeing red.', datetime.date(2025, 2, 12), 6.199999809265137, 1663, '/pzIddUEMWhWzfvLI3TwxUG2wGoi.jpg')
(1180906, 'Desert Dawn', 'Action,Crime,Mystery,Thriller', 'A newly appointed small-town sheriff and his begrudging deputy get tangled up in a web of lies and corruption involving shady businessmen and the cartel while investigating the murder of a mysterious woman.', datetime.date(2025, 5, 15), 0.0, 0, '/S21BfLrJSD9njucBfY3CKqp8rD.jpg')
(1233413, 'Sinners', 'Horror,Thriller', 'Trying to leave their troubled lives behind, twin brothers return to their hometown to start again, only to discover that an even greater evil is waiting to welcome them back.', datetime.date(2025, 4, 16), 7.599999904632568, 437, '/fWPgbnt2LSqkQ6cdQc0SZN9CpLm.jpg')

In [6]:
conn.close()

In [9]:
conn.execute("SELECT * FROM films WHERE id = 324544").fetchone()

(324544,
 'In the Lost Lands',
 'Fantasy,Adventure,Action',
 'A queen sends the powerful and feared sorceress Gray Alys to the ghostly wilderness of the Lost Lands in search of a magical power, where she and her guide, the drifter Boyce, must outwit and outfight both man and demon.',
 datetime.date(2025, 2, 27),
 6.295000076293945,
 285)