In [64]:
import duckdb
import os
print("Fichier .db utilisé :", os.path.abspath('films_reco.db'))
# Connexion à la base de données
conn = duckdb.connect('films_reco.db')

# Lister les tables
tables = conn.execute("SHOW TABLES").fetchall()
print("Tables disponibles : ", tables)


# Si tu veux voir les données d'une table
table_name = "films"  # Remplace par ta table
# data = conn.execute(f"SELECT * FROM films").fetchall()
df = conn.execute("SELECT * FROM films").fetchdf()

Fichier .db utilisé : c:\Users\lecle\code\informatique_avancee\projet\Projet\data\films_reco.db
Tables disponibles :  [('films',), ('ratings',)]

In [ ]:
conn.execute("""
    DELETE FROM films
    WHERE release_date IS NULL;
""")

In [85]:
df = conn.execute("""
    SELECT genres
    FROM films
    WHERE STRFTIME('%Y', release_date) = ?
""", [str(2016)]).fetchdf()

df

                                genres
0    Animation,Adventure,Family,Comedy
1                 Crime,Thriller,Drama
2              Animation,Romance,Drama
3     Adventure,Action,Science Fiction
4                    Drama,History,War
..                                 ...
242               Comedy,Drama,Romance
243                      Drama,Romance
244                    Horror,Thriller
245                      Drama,Romance
246              Fantasy,Comedy,Family

[247 rows x 1 columns]

In [60]:
conn.execute("""
    SELECT * FROM films WHERE id= 1461519
""").fetchone()

In [61]:
count = conn.execute("SELECT COUNT(*) FROM ratings").fetchone()[0]
print("Nombre de lignes dans la table films :", count)

Nombre de lignes dans la table films : 1750845

In [62]:
count = conn.execute("SELECT COUNT(*) FROM films").fetchone()[0]
print("Nombre de lignes dans la table films :", count)

Nombre de lignes dans la table films : 7753

In [12]:
# Lire les 10 premières lignes de la table "ratings" dans un DataFrame
df = conn.execute("SELECT * FROM ratings LIMIT 10").fetchall()

for row in df:
    print(row)

(1, 110, 1.0, 1425941529)
(1, 147, 4.5, 1425942435)
(1, 858, 5.0, 1425941523)
(1, 1221, 5.0, 1425941546)
(1, 1246, 5.0, 1425941556)
(1, 1968, 4.0, 1425942148)
(1, 2762, 4.5, 1425941300)
(1, 2918, 5.0, 1425941593)
(1, 2959, 4.0, 1425941601)
(1, 4226, 4.0, 1425942228)

In [86]:
conn.close()

In [14]:
conn.execute("SELECT * FROM films WHERE id = 324544").fetchone()

ConnectionException: Connection Error: Connection already closed!